<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mybatis_plus.mapper.ParameterMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiyi.mybatis_plus.pojo.Parameter">
        <result column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, `name`,code
    </sql>
    <select id="getAllByPid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_parameter
        where
        pid = #{pid,jdbcType=NUMERIC}
    </select>

</mapper>
