<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mybatis_plus.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiyi.mybatis_plus.pojo.User">
        <id column="login_id" property="loginId" />
        <result column="username" property="username" />
        <result column="email" property="email" />
        <result column="age" property="age" />
        <result column="address" property="address" />
        <result column="phone" property="phone" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         login_id, username, email, age, address, phone,cvurl,grtime,graduate,position,avatar
    </sql>

    <select id="getOneByLoginId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_sys_user
        where
        login_id = #{loginId,jdbcType=NUMERIC}
    </select>

</mapper>
