<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyi.mybatis_plus.mapper.WeightMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shiyi.mybatis_plus.pojo.Weight">
        <id column="loginid" property="loginid" />
        <result column="weight" property="weight" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        loginid, weight
    </sql>
    <select id="getOneByLoginid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_bus_weight
        where
        loginid = #{loginid,jdbcType=VARCHAR}
    </select>

</mapper>
